body {
                margin-top: 0px;
		background-color:  #E9DCC9;
	}

 h1 {
                background-color: #2E8B57;
                height: 38px;
                length: 200px;
                font-size: 30px;
                margin-top: 0px;

        }

.bukhari {
		cursor: pointer;

} 
